@{
	ViewData["Title"] = "Home Page";
}
@using Web.Models
@model ProjectPageDetails
@{
	string currentName = "";
	string currentRole = "";
	string currentEmail = "";

	byte[] currentRoleByte;
	byte[] currentNameByte;
	byte[] currentEmailByte;

	if (Context.Session.Keys.Count() > 0)
	{
		Context.Session.TryGetValue("current_user_role", out currentRoleByte);
		Context.Session.TryGetValue("current_user_name", out currentNameByte);
		Context.Session.TryGetValue("current_user_email", out currentEmailByte);


		if (currentRoleByte != null && currentNameByte != null && currentEmailByte != null)
		{
			currentRole = System.Text.Encoding.Default.GetString(currentRoleByte);
			currentName = System.Text.Encoding.Default.GetString(currentNameByte);
			currentEmail = System.Text.Encoding.Default.GetString(currentEmailByte);
		}
	}
}

<input type="hidden" id="currentEmail" value="@currentEmail" />
<div class="text-center">
	@if (Model.Project.Status == "Delayed")
	{
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-4 text-danger">@Model.Project.Name</h1>
					<span class="badge badge-danger" style="font-size: 25px; margin-top: 20px">Delayed</span>
				</div>
			</div>
	}
	else if (Model.Project.Status == "Modified")
	{
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-4 text-success">@Model.Project.Name</h1>
					<span class="badge badge-success" style="font-size: 25px; margin-top: 20px">Modified</span>
				</div>
			</div>
	}
	else
	{
			<div class="row">
				<div class="col-md-12">
					<h1 class="display-4">@Model.Project.Name</h1>
					<span class="badge badge-light" style="font-size: 25px; margin-top: 20px">@Model.Project.Status</span>
				</div>
			</div>
	}
</div>

<div class="row" style="margin-top: 50px">
	<div class="col-md-6">
		<label for="projectId" style="margin-top: 20px">Folio:</label>
		<input type="text" id="projectId" disabled value="@Model.Project.SelfProjectId" class="form-control" />

		<label for="projectName" style="margin-top: 20px">Proyecto:</label>
		<input type="text" id="projectName" disabled value="@Model.Project.Name" class="form-control" />

		<label for="projectClient" style="margin-top: 20px">Cliente:</label>
		<input type="text" id="projectClient" disabled value="@Model.Project.Client" class="form-control" />

		<label for="projectEngineering" style="margin-top: 20px">Ingeniería:</label>
		<input type="text" id="projectEngineering" disabled value="@Model.Project.Engineering" class="form-control" />

		<label for="projectDrawing" style="margin-top: 20px">Dibujo:</label>
		<input type="text" id="projectDrawing" disabled value="@Model.Project.Drawing" class="form-control" />

		<label for="projectApproval" style="margin-top: 20px">Visto bueno:</label>
		<input type="text" id="projectApproval" disabled value="@Model.Project.Approval" class="form-control" />

		<label for="projectDelivery" style="margin-top: 20px">Fecha de entrega:</label>
		<input type="text" id="projectDelivery" disabled value="@Model.Project.DeliveryDate" class="form-control" />
	</div>
	<div class="col-md-6">
		<label for="projectSchedule" style="margin-top: 20px">Programa:</label>
		<input type="text" id="projectSchedule" value="@Model.Project.Schedule" disabled class="form-control" />

		<label for="projectProgress" style="margin-top: 20px">Semana de trabajo:</label>
		<input type="text" id="projectProgress" disabled value="@Model.Project.Progress" class="form-control" />

		<label for="projectBudget" style="margin-top: 20px">Presupuesto:</label>
		<input type="text" id="projectBudget" disabled value="$@Model.Project.BudgetFormat" class="form-control" />

		@if (currentRole == "Admin")
		{
				<div class="row">
					<div class="col-md-8">
						<label for="projectPaid" style="margin-top: 20px">Pagado:</label>
						<input type="text" id="projectPaid" value="$@Model.Project.PaidFormat" class="form-control" />
					</div>
					<div class="col-md-4">
						<button class="btn btn-success" id="savePaidBtn" onclick="AdminPanel.savePaid()" style="margin-top: 50px;">Save</button>
					</div>
				</div>
		}
		else
		{
				<label for="projectPaid" style="margin-top: 20px">Pagado:</label>
				<input type="text" id="projectPaid" disabled value="$@Model.Project.PaidFormat" class="form-control" />
		}
		<label for="projectBalance" style="margin-top: 20px">Pop pagar:</label>
		<input type="text" id="projectBalance" disabled value="$@Model.Project.BalanceFormat" class="form-control" />

		<label for="projectFactor" style="margin-top: 20px">Factor:</label>
		<input type="text" id="projectFactor" disabled value="$@Model.Project.FactorFormat" class="form-control" />

		<label for="projectEstatus" style="margin-top: 20px">EStatus:</label>
		<input type="text" id="projectEstatus" disabled value="@Model.Project.Status" class="form-control" />
	</div>
	<div class="col-md-6">
		<label for="projectEmployees" style="margin-top: 20px">Employees:</label>
		<textarea type="text" id="projectEmployees" style="width: 100%" disabled value="@Model.Project.EmployeesNames" class="form-control">@Model.Project.EmployeesNames</textarea>
	</div>
	@if (currentRole == "Admin")
	{
			<div class="col-md-6" style="margin-top: 20px">
				<h4>Assign Employees to Project</h4>
				<select id="assignEmployeesList" class="form-control" multiple>
				@foreach (var employee in Model.AllEmployees)
				{
							<option value="@employee">@employee</option>
				}
				</select>
				<div class="row">
					<div class="col-md-12 text-center">
						<button class="btn btn-success" id="assignEmployeeBtn" onclick="AdminPanel.assignEmployee()" style="margin-top: 10px;">Assign</button>
					</div>
				</div>
			</div>
	}
</div>

	<div class="row" style="margin-top: 30px">
		<div class="col-md-12">
			<hr />
			<div class="row">
				<div class="col-md-12">
					<h3>Add Comment</h3>
					<div class="row" style="margin-top: 20px">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-2">
									<label for="addActivityDate">Day:</label>
									<input type="date" id="addActivityDate" class="form-control" disabled />
								</div>
								<div class="col-md-1">
									<label for="addActivityHours">Hours:</label>
									<input type="number" id="addActivityHours" class="form-control" />
								</div>
								<div class="col-md-4">
									<label for="addActivityComment">Comment:</label>
									<textarea id="addActivityComment" class="form-control"></textarea>
								</div>
								<div class="col-md-2">
									<label for="addActivityStatus">Status:</label>
									<select class="form-control" id="addActivityStatus">
										<option value="1">On Time</option>
										<option value="2">Delayed</option>
										<option value="3">Modified</option>
									</select>
								</div>
								<div class="col-md-3">
									<label for="addActivityStatusComment">Status Comment:</label>
									<textarea id="addActivityStatusComment" class="form-control"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-success" id="addActivitySave" onclick="EmployeeDashboard.addActivity(0)" style="margin-top: 10px;">Add Comment</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row" style="margin-top: 80px">
		<div class="col-md-12">
			<h3>All Activities</h3>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-sm  table-bordered" style="margin-top: 20px; margin-bottom: 50px">
						<thead class="table-dark">
							<tr>
								<th scope="col">Employee</th>
								<th scope="col">Duration</th>
								<th scope="col">Date</th>
								<th scope="col">Comment</th>
								<th scope="col">Status</th>
								<th scope="col">Status Comment</th>
							</tr>
						</thead>
						<tbody id="projectTableBody">
						@foreach (var project in Model.Activities)
						{
									<tr class="@(project.Status == 2 ? "badge-danger": project.Status == 3 ? "badge-success" : "")">
										<td>@project.EmployeeName</td>
										<td>@project.Duration</td>
										<td>@project.DateTime.ToShortDateString()</td>
										<td>@project.Comment</td>
										<td>@(project.Status == 2 ? "Delayed": project.Status == 3 ? "Modified" : "On time")</td>
										<td>@project.StatusComment</td>
									</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

@if (currentRole == "Admin")
{
	@if (Model.Project.Status == "On Time" || Model.Project.Status == "Delayed" || Model.Project.Status == "Modified")
	{
		<div class="row">

			<div class="col-md-6">
				<hr />
				<label for="completeProject">Is project completed? Close it?</label>
				<br />
				<button class="btn btn-primary" id="completeProject" onclick="AdminPanel.completeProject()" style="margin-top: 10px;">Complete</button>
			</div>
		</div>
	}
	else if(Model.Project.Status == "Completed")
	{
		<div class="row">

			<div class="col-md-6">
				<hr />
				<label for="invoiceProject">Invoice project?</label>
				<br />
				<button class="btn btn-danger" id="invoiceProject" onclick="AdminPanel.invoiceProject()" style="margin-top: 10px;">Invoice</button>
			</div>
		</div>
	}
	else if(Model.Project.Status == "Invoiced")
	{
		<div class="row">

			<div class="col-md-6">
				<hr />
				<label for="archiveProject">Archive project?</label>
				<br />
				<button class="btn btn-success" id="archiveProject" onclick="AdminPanel.archiveProject()" style="margin-top: 10px;">Archive</button>
			</div>
		</div>
	}
}