@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Web.Models
@model AdminPageDetails
@{
    string currentName = "";
    string currentRole = "";
    byte[] currentRoleByte;
    byte[] currentNameByte;

    if (Context.Session.Keys.Count() > 0)
    {
        Context.Session.TryGetValue("current_user_role", out currentRoleByte);
        Context.Session.TryGetValue("current_user_name", out currentNameByte);

        if (currentRoleByte != null && currentNameByte != null)
        {
            currentRole = System.Text.Encoding.Default.GetString(currentRoleByte);
            currentName = System.Text.Encoding.Default.GetString(currentNameByte);
        }
    }
}




    <main style="margin-left: 2%; margin-right: 2%">
        <div class="row" style="margin-top: 80px">
            <div class="col-md-12">
                <h3>Completed, Invoiced and Archived Projects</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm  table-bordered" style="margin-top: 20px; margin-bottom: 50px">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">FOLIO</th>
                                    <th scope="col">PROYECTO</th>
                                    <th scope="col">CLIENTE</th>
                                    <th scope="col">INGENIERÍA</th>
                                    <th scope="col">DIBUJO</th>
                                    <th scope="col">VISTO BUENO</th>
                                    <th scope="col">FECHA DE ENTREGA</th>
                                    <th scope="col">PROGRAMA</th>
                                    <th scope="col">SEMANA DE TRABAJO</th>
                                    <th scope="col">PRESUPUESTO</th>
                                    <th scope="col">PAGADO</th>
                                    <th scope="col">POR PAGAR</th>
                                    <th scope="col">FACTOR</th>
                                    <th scope="col">ESTATUS</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="projectTableBody">
                                @foreach (var project in Model.Projects)
                                {
                                    <tr class="@(project.Status != "Delayed" ? project.Status == "Modified" ? "table-success" : "" : "table-danger")">
                                        <td>@project.SelfProjectId</td>
                                        <td>@project.Name</td>
                                        <td>@project.Client</td>
                                        <td>@project.Engineering</td>
                                        <td>@project.Drawing</td>
                                        <td>@project.Approval</td>
                                        <td>@project.DeliveryDate</td>
                                        <td>@project.Schedule</td>
                                        <td>@project.Progress</td>
                                        <td class="price-value">$@project.BudgetFormat</td>
                                        <td class="price-value">$@project.PaidFormat</td>
                                        <td class="price-value">$@project.BalanceFormat</td>
                                        <td class="price-value">$@project.FactorFormat</td>
                                        <td>@project.Status</td>
                                        <td><a href="/Project?id=@project.SelfProjectId"><button class="btn btn-sm btn-success">Detalles</button></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
          <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/adminPanel.js" asp-append-version="true"></script>
    <script src="~/js/employeeDashboard.js" asp-append-version="true"></script>
    </main>
>
