@{
    Layout = null;
}
@using Web.Models
@model AdminPageDetails
@{
    string currentName = "";
    string currentRole = "";
    byte[] currentRoleByte;
    byte[] currentNameByte;

    if (Context.Session.Keys.Count() > 0)
    {
        Context.Session.TryGetValue("current_user_role", out currentRoleByte);
        Context.Session.TryGetValue("current_user_name", out currentNameByte);

        if (currentRoleByte != null && currentNameByte != null)
        {
            currentRole = System.Text.Encoding.Default.GetString(currentRoleByte);
            currentName = System.Text.Encoding.Default.GetString(currentNameByte);
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.css" />
    <script src="/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project Management</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-between">
                    @if (!string.IsNullOrEmpty(currentRole))
                    {
                        <ul class="navbar-nav">
                            <li style="padding-right: 20px">
                                <p class="nav-link text-dark" style="margin-top: 10px">Welcome <b class="text-primary">@currentName</b>!</p>
                            </li>
                            <li class="nav-item" style="padding-right: 20px; margin-top: 10px">
                                <form class="form-inline" action="/Home/Logout" method="post">
                                    <button type="submit" class="nav-link btn btn-sm btn-link btn-danger text-light">Logout</button>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item" style="padding-right: 20px; margin-top: 10px">
                                <form class="form-inline" action="/Home/Login" method="get">
                                    <button type="submit" class="nav-link btn btn-sm btn-link btn-primary text-light">Login</button>
                                </form>
                            </li>
                        </ul>
                    }
                    <ul class="navbar-nav flex-grow-1 col-md-6">
                        @if (currentRole == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Admin/Index">Admin</a>
                            </li>
                             <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/AddEmployee">Add Employee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/AddProject">Add Project</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/GenerateReports">Reports</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" href="/Admin/Archived">Archived</a>
                        </li>
                        }
                        @if (currentRole == "Employee")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Employee/Index">Dashboard</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main style="margin-left: 2%; margin-right: 2%">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Admin Control Panel</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 80px">
            <div class="col-md-12">
                <h3>Ongoing Projects</h3>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm  table-bordered" style="margin-top: 20px; margin-bottom: 50px">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">FOLIO</th>
                                    <th scope="col">PROYECTO</th>
                                    <th scope="col">CLIENTE</th>
                                    <th scope="col">INGENIERÍA</th>
                                    <th scope="col">DIBUJO</th>
                                    <th scope="col">VISTO BUENO</th>
                                    <th scope="col">FECHA DE ENTREGA</th>
                                    <th scope="col">PROGRAMA</th>
                                    <th scope="col">SEMANA DE TRABAJO</th>
                                    <th scope="col">PRESUPUESTO</th>
                                    <th scope="col">PAGADO</th>
                                    <th scope="col">POR PAGAR</th>
                                    <th scope="col">FACTOR</th>
                                    <th scope="col">ESTATUS</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="projectTableBody">
                                @foreach (var project in Model.Projects)
                                {
                                    <tr class="@(project.Status != "Delayed" ? project.Status == "Modified" ? "table-success" : "" : "table-danger")">
                                        <td>@project.SelfProjectId</td>
                                        <td>@project.Name</td>
                                        <td>@project.Client</td>
                                        <td>@project.Engineering</td>
                                        <td>@project.Drawing</td>
                                        <td>@project.Approval</td>
                                        <td>@project.DeliveryDate</td>
                                        <td>@project.Schedule</td>
                                        <td>@project.Progress</td>
                                        <td>$@project.Budget</td>
                                        <td>$@project.Paid</td>
                                        <td>$@project.Balance</td>
                                        <td>$@project.Factor</td>
                                        <td>@project.Status</td>
                                        <td><a href="/Project?id=@project.SelfProjectId"><button class="btn btn-sm btn-success">Detalles</button></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Generate Excel Reports: </h3>
            </div>
            <div class="col-md-2" style="margin-top: 20px">
                <label for="reportType">Please select a type of projects: </label>
                <select class="form-control" id="reportType">
                    <option value="0">All Projects</option>
                    <option value="1">Pending Projects</option>
                    <option value="2">Delayed Projects</option>
                    <option value="3">Modified Projects</option>
                    <option value="5">Completed Projects</option>
                </select>
            </div>
            <div class="col-md-12">
                <a id="generateReportHref" href="http://ec2-3-144-165-25.us-east-2.compute.amazonaws.com/api/Project/get-excel-report?projectStatus=0"> <button class="btn btn-sm btn-success" style="margin-top: 20px; margin-bottom: 50px">Generate Report</button></a>
            </div>
        </div>
         <div class="row" style="margin-top: 80px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h3>Active Employees</h3>
                        <table class="table table-sm  table-bordered" style="margin-top: 20px; margin-bottom: 50px">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">List of Projects</th>
                                </tr>
                            </thead>
                            <tbody id="employeeTableBody">
                                @foreach (var employee in Model.Employees)
                                {
                                    <tr>
                                        <td>@employee.Name</td>
                                        <td>@employee.Email</td>
                                        <td>
                                            @foreach (var project in employee.ProjectsNames)
                                            {
                                                @project
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Project Management App
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/adminPanel.js" asp-append-version="true"></script>
    <script src="~/js/employeeDashboard.js" asp-append-version="true"></script>
</body>
</html>
